/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Helvetica', 'Figtree', sans-serif;
  background-color: #000;
  color: #fff;
}

/* Top Navigation */
.top-nav {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;

   position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  font-weight: bold;
  font-family:'Figtree';
  font-size: 18px;
  letter-spacing: 1px;
}

.nav-links a {
  margin-left: 40px;
  color: white;
  text-decoration: none;
  font-family:'Figtree';
  font-size: 15px;
  position: relative;
}

.nav-links a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #d49ee8;
}

.nav-links a:hover {
  opacity: 0.7;
}

/* Hero Section */
.hero-box {
  width: 100%;
  height: 100vh;
  background-image: url("homeBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  padding-left: 70px;
  padding-bottom: 100px;
}

.hero-box-content h1 {
  font-size: 80px;
  font-family:'Figtree';
  color: black;
  margin-bottom: 20px;
}

.hero-box-content a {
  padding: 12px 24px;
  background-color: #c46bcb;
  font-family:'Figtree';
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: 0.2s ease;
  display: inline-block;
}

.hero-box-content a:hover {
  background-color: #a44ca9;
  transform: translateY(-2px);
}

/* About Section */
.about-section {
  display: flex;
  justify-content: space-between;
  padding: 100px 70px;
  background: linear-gradient(to bottom, #1a0b1f, #000);
  flex-wrap: wrap;
}

.about-left {
  max-width: 800px;
  font-family:'Figtree';
}

.about-left h2 {
  font-size: 40px;
  font-family:'Figtree';
  margin-bottom: 40px;
}

.about-left p {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  font-family:'Figtree';
}

.about-right {
  margin-top: 60px;
  max-width: 1000px;
  color: #ffffff;
  font-family:'Figtree';
  position: relative;
  z-index: 1;
}

.about-right p {
  font-family:'Figtree';
  color: #ffffff;   
  font-size: 30px;
  text-align: right;
  line-height: 1.4;
}

.highlight {
  color: #d49ee8;
}

/* Projects Section */
.projects-section {
  padding: 80px 70px;
  background: black;
}

.projects-section h2 {
  font-family:'Figtree';
  font-size: 36px;
  margin-bottom: 40px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 40px;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  text-align: center;
}

.project-card h3 {
  color: #d49ee8;
  font-family:'Figtree';
  font-size: 40px;
  margin-bottom: 40px;
}

.project-card p {
  font-size: 25px;
  font-family:'Figtree';
  margin-bottom: 10px;
}

.project-card img {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Footer */
footer {
  text-align: center;
  padding: 40px 0;
  font-style: italic;
  font-size: 14px;
  color: #bbb;
}

.about-left .cell {
  font-size: 20px;
  font-family:'Figtree';
  margin-bottom: 10px;
}

.about-left .email {
  font-size: 20px; 
  font-family: 'Figtree', 'Helvetica', sans-serif;
  margin-bottom: 10px;
}

.about-left .Parsons {
  margin-top: 40px;
  font-size: 18px; 
  font-family: 'Figtree', 'Helvetica', sans-serif;
  margin-bottom: 10px;
}

.purple-glow {
  position: absolute;
  width: 1000px;
  height: 1000px;
  bottom: -400px;
   right: -300px;
   background: radial-gradient(
    ellipse at center,
    rgba(182, 118, 196, 0.4) 0%,
    rgba(182, 118, 196, 0) 100%
  );
  filter: blur(60px);
  z-index: 0;
  pointer-events: none;
}

.icon {
  width: 18px;
  height: auto;
  margin-right: 8px;    
  vertical-align: middle;
}